@model IEnumerable<IanMacdonaldCoreMVC.Models.Artist>

@{
    ViewData["Title"] = "Index";
}

<h2>View Artists</h2>

<a class="btn btn-primary" asp-controller="Home" asp-action="Add" >Add New Artist</a>